<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app2">
  <name1 v-show="isShow"><button slot="a">组件一插槽</button></name1>

  <name1>
<!--    Vue引用插槽数据-->
    <template slot-scope="slot">
      <br>
<!--      <span>{{slot.data.join('-')}}</span>-->
      <span v-for="item in slot.data">{{item}}*</span>
      <li v-for="item in slot.data">{{item}}</li>

    </template>
  </name1>

  <name1></name1>


<!--  父组件的 buttclick()访问子组件的 showMessage()-->
  <name2><input type="text"></name2>
  <h3>父访问子组件</h3>
  <button @click="buttclick">按钮访问</button>
</div>

<script src="../js/vue.js"></script>


<!-- template模板只是组件的小部分-->
<template id="id1">
  <div>
    <h3>子组件1</h3>
<!--    插槽;<input type="text">默认值-->
    <slot><input type="text"></slot>
<!--    具名插槽-->
    <slot name="a"><input type="text"></slot>


<!--    数据放入插槽-->
    <slot  :data="planguage">
<!--      默认展示方式-->
      <ul>
      <li v-for="item in planguage">{{item}}</li>
      </ul>
    </slot>

  </div>
</template>



<template id="id2">
  <div>
    <h3>子组件2</h3>
    <slot></slot>
  </div>
</template>
<script>


  //此处仅仅构造，在在components中注册后使用name1
  const s={
    methods:{
      showMessage(){
        console.log('组件1showMessage')
      }
    },
    template:'#id1',
    props: {
      movies:{
        type:Array,
        default(){
          return ['娜扎','金刚']
        },
      dMessage:{
          type:String
      }
      }
    },
    data(){
      return {
        planguage:['C++','java','c#','python','Go'],
      }
    }
  }


  //子组件2
  const s2={
    methods:{
      showMessage(){
        console.log('组件2showMessage')
      }
    },
    template:'#id2',
  }


  //顶层父组件要使用组件，要再次注册
  let app2=new Vue({
    methods:{
      buttclick(){
        console.log(this.$children)
        //this.$children[0]第一个组件
        this.$children[0].showMessage()
        this.$children[1].showMessage()
      }
    },
    el:'#app2',
    data:{
      isShow:true,
      message:'李敏',
      arr:['海尔','海王','海狗']
    },
    components:{
      name1:s,
      name2:s2
    }
  })
</script>
</body>
</html>